{{#with answer}}
<form class="text-dark bg-light" >
    <div class="input-group mb-3">
        <span class="input-group-text">Title</span>
        <span class="form-control">{{title}}</span>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Description</span>
        <span class="form-control">{{description}}</span>
    </div>
</form>
<div id="wrapper">
    {{#each steps}}
    <form class="input-group mb-3 step">
        <span class="input-group-text">Step {{@index}}</span>
        <span class="form-control">{{dataValues.step_text}}</span>
       {{#if ../../loggedIn}}
        <button data-typeId="deleteButton" class="deleteStep btn btn-secondary btn-lg" id="{{dataValues.id}}" type="button">Delete Step</button>
        {{/if}}
    </form>
    
    {{/each}}
   </div>
   {{#if ../loggedIn}}
    <form class="step-form input-group mb-3">
        <span class="input-group-text strong"><strong>Enter a new step</strong></span>
        <textarea id="new-step" name="step-text" class="form-control" aria-label="With textarea"></textarea>
        <button id="new-step-btn" class="btn btn-secondary btn-lg" type="submit">Add Step</button>
   {{/if}}
    </form>
     

   

{{#if ../loggedIn}}
<script src="/javascript/add-step.js"></script>
<script src="/javascript/delete-step.js"></script>
{{/if}}
{{/with}}


