{{#with answer}}
<form class="text-dark bg-light" >
    <div class="input-group mb-3">
        <span class="input-group-text">Title</span>
        <span class="form-control">{{title}}</span>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Description</span>
        <span class="form-control">{{description}}</span>
    </div>

    {{#each steps}}
    <div class="input-group mb-3">
        <span class="input-group-text">Step {{@index}}</span>
        <span class="form-control">{{dataValues.step_text}}</span>
    </div>
    {{/each}}

    <div class="input-group mb-3 step-form">
        <span class="input-group-text strong"><strong>Enter a new step</strong></span>
        <textarea id="new-step" name="step-text" class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div>
        <button id="new-step-btn" class="btn btn-secondary btn-lg" type="submit">Add Step</button>
    </div>
    
    {{#if hbsObj.loggedIn}} 
                hello
                {{/if}}   
</form>
{{/with}}

<script src="/javascript/add-step.js"></script>




                {{!-- <form class="new-comment">
                 <span class="comment_text">{{dataValues.comment_text}}</span>
                <textarea class="" name="new-comment"></textarea>
                <button type="commit-comment">Comment</button>
                </form> --}}