<div class="container">
    <h1>Welcome back {{userPage.username}}. We've missed you!</h1>
    <h2>Answers you've created.</h2>
    <ol class="row answer-list">
        {{#each userPage.answers}}
        <li class="card" style="max-width: 18rem;">
            <div class="card-body">
                <a class="card-title nav-link" href="/answer/{{id}}">
                    <h5 class="card-title">{{title}}</h5>
                </a>
                <p class="card-text">
                    {{description}} - Created on {{format_date created_at}}
                </p>
            </div>

        </li>
        {{/each}}
    </ol>
</div>

<article class="container wrapper">
    <h2>Answers you've commented on.</h2>
    {{#each userPage.comments}}
    <div class="title">
        <h3 href="/{{id}}">{{comment_text}}</h3>
        <p>{{title}}</p>
        <p>{{format_date created_at}}</p>
        <a class="" href="/{{id}}">Click to view your comment.{{id}}</a>

    </div>

    {{/each}}

</article>