<article class="wrapper">
   
    
    <h1>Welcome back {{userPage.username}}. We've missed you!</h1>
    <h2>Answers you've created.</h2>
    {{#each userPage.answers}}
    <div class="card w-50">
       <a class="card-title" href="/answer/{{id}}">Title:{{title}}</a>
        <p class="card-text">description:{{description}}</p>
        <p class="card-text">{{format_date created_at}}</p>
        <a class="card-text" href="/answer/{{id}}">Click to view this Answer.</a>
    </div>
    {{/each}}


    <h2>Answers you've commented on.</h2>

    {{#each userPage.comments}}
    <div class="title">
       <h3 href="/{{id}}">{{comment_text}}</h3>
        <p>{{title}}</p>
        <p>{{format_date created_at}}</p>
        <a class="" href="/{{id}}">Click to view your comment.{{id}}</a>

    </div>

    {{/each}}

</article>
